@model AboutMeViewModel
@{
    ViewData["Title"] = "About Me";
}
<!--Specify which navbar button is active in menu-->
<script>
    var btn = document.getElementById('aboutMeBtn');
    btn.classList.add('active');
</script>
<div class="row">
    <div class="col"><img class="bannerImage" src="~/images/aboutMeBanner.jpg" /></div>
</div>
<div class="row">

    <div class="col-md-6">
        <h2 class="anchor"><span id="intro"></span>Hi, I'm Matt</h2>
        <p>
            I've recently graduated from Oregon State University with a 3.98/4.00 GPA in computer science, BS. I am actively seeking
            an entry-level position in software engineering and I'm always open to freelance opportunities in web development.
            I love performing detailed research, writing well-documented software, and working with others to produce simple, sustainable
            solutions to complex problems.
        </p>
        <p>
            If you have a moment, please explore this site to learn a bit more about me. Otherwise, you're more than welcome to
            <a href="https://docs.google.com/document/d/1R83Hvra5CXyLNa6aJi11ymKzMUpT88-aztU0WeAqGtg/edit?usp=sharing" target="_blank">
                check out my r&eacute;sum&eacute;.
            </a>
        </p>
    </div>
    <div class="col-md-6">
        <h2 class="anchor"><span id="experience"></span>Experience</h2>
        <ul>
            <li>Gleaning Coordinator - AmeriCorps VISTA (April 2015 - April 2016)</li>
            <li>Development Coordinator - AmeriCorps VISTA (April 2013 - April 2014)</li>
            <li>Cashier/Barista - Fletcher Village Bakery, Fletcher, NC (May 2012 - November 2012)</li>
        </ul>
    </div>
</div>
<div class="container-fluid" style="padding:0px;">
    <h2 class="anchor my-3"><span id="education" name="education"></span>Education</h2>
    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            @foreach (var edu in Model.Education)
            {
                <div class="swiper-slide">
                    <div class="card" style="height:600px;">
                        @if (edu.Logo != null)
                        {
                            <img class="mx-auto" src="@edu.Logo" alt="Card image cap" style="max-height:150px; ">
                        }
                        <div class="card-body">
                            <h4 class="card-title">@Html.DisplayFor(eduModel => edu.Institution)</h4>
                            <p class="card-text">Major: @Html.DisplayFor(eduModel => edu.Major)</p>
                            <p class="card-text">Degree: @Html.DisplayFor(eduModel => edu.Degree)</p>
                            <p class="card-text">GPA: @Html.DisplayFor(eduModel => edu.GPA)</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>



<div class="row">
    <div class="col">
        <h2 class="anchor"><span id="skills"></span>skills</h2>
        <h4>Programming Languages</h4>
        <ul>
            <li>C</li>
            <li>C#</li>
            <li>C++</li>
            <li>Java</li>
            <li>HTML/CSS</li>
            <li>Javascript</li>
            <li>MySQL</li>
            <li>PHP</li>
        </ul>
        <h4>Development Frameworks</h4>
        <ul>
            <li>Node.js</li>
            <li>Bootstrap 4</li>
            <li>Handlebars</li>
            <li>ASP.NET Core Razor Pages</li>
        </ul>
        <h4>Content Management Systems</h4>
        <ul>
            <li>Wordpress</li>
            <li>Weebly</li>
            <li>Blogger</li>
        </ul>
        <h4>Microsoft Office Suite</h4>
        <ul>
            <li>Word</li>
            <li>Excel</li>
            <li>PowerPoint</li>
            <li>Publisher</li>
            <li>Access</li>
            <li>Visio</li>
            <li>OneNote</li>
        </ul>
        <h4>Google Apps</h4>
        <ul>
            <li>Drive</li>
            <li>Gmail</li>
            <li>Docs</li>
            <li>Slides</li>
            <li>Drawings</li>
            <li>My Maps</li>
            <li>Sheets</li>
            <li>Hangouts</li>
        </ul>
        <h4>Version Control</h4>
        <ul>
            Git
        </ul>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2 class="anchor"><span id="hobbies"></span>hobbies</h2>
        <ul>
            <li>Running</li>
            <li>Reading</li>
            <li>Tech blogging</li>
            <li>Tennis</li>
            <li>Building velomobiles</li>
            <li>Crosswords</li>
            <li>Trivia</li>
            <li>Competitive programming</li>
            <li>Civic coding</li>
        </ul>
    </div>
</div>






