
@model IEnumerable<MySiteMVC.Models.BlogPost>

@{
    ViewData["Title"] = "blog posts";
}

<!--Specify which navbar button is active in menu-->
<script>
    var btn = document.getElementById('blogBtn');
    btn.classList.add('active');
</script>
<h2>@ViewData["Title"]</h2>
<div id="fullPost"></div>
<div class="card-columns">
    @foreach (var post in Model)
    {
    <div class="card">
        @if (post.BannerImgPath != null)
        {
            <img class="card-img-top" src="@post.BannerImgPath" alt="Card image cap" style="max-width:inherit;">
        }
        <div class="card-body">
            <div class="post-link" onclick="viewPost(this)">
                <h4 class="card-title">@Html.DisplayFor(modelPost => post.Title)</h4>
                <p class="card-text">@Html.DisplayFor(modelPost => post.Summary)</p>
            </div>
            <p class="card-text">
                <small class="text-muted">
                    Originally posted on @Html.DisplayFor(modelPost => post.OriginalPostDateForDisplay)<br />
                    Last updated @Html.DisplayFor(modelPost => post.UpdatedDateForDisplay)
                </small>
            </p>
            @if (post.PostTagsJunction.Count() != 0)
            {
                <small>Tags:</small>
                @foreach (var tag in post.PostTagsJunction)
                {
                    <a href="#" class="badge badge-primary">@tag.Tag.Name</a>
                }
            }

        </div>
    </div>
    }
</div>


